<link href="/styles.css" rel="stylesheet" />
<li
    class="flex w-full flex-col items-start justify-start space-y-2"
    id="cartRestaurantItem"
>
    <div class="flex w-full flex-row items-center justify-between">
        <h4 class="text-base font-bold md:text-xl" id="restaurantName">
            Wendy's
        </h4>
        <span class="text-sm text-neutral-500 md:text-base" id="itemCount">
            3 items
        </span>
    </div>
    <ul
        class="flex w-full flex-col items-start justify-start space-y-2 border-s border-dashed border-neutral-500/50 ps-2 pe-0 *:w-full md:ps-4 md:pe-2"
        id="cartItemsList"
    ></ul>
</li>
