<link href="/styles.css" rel="stylesheet" />
<li
    class="flex w-full flex-col items-start justify-start space-y-2"
    id="cartRestaurantItem"
>
    <div class="flex w-full flex-row items-center justify-between">
        <h4 class="text-xl font-bold" id="restaurantName">Wendy's</h4>
        <span class="text-base text-neutral-500" id="itemCount"> 3 items </span>
    </div>
    <ul
        class="flex w-full flex-col items-start justify-start space-y-2 border-s border-dashed border-neutral-500/50 ps-4 pe-2 *:w-full"
        id="cartItemsList"
    ></ul>
</li>
