<dialog
    id="cartDropdown"
    class="fixed top-16 left-[5vw] z-[80] w-[90vw] flex-col items-start rounded-xl bg-neutral-100 p-3 text-lg shadow-lg transition-all duration-200 backdrop:bg-transparent backdrop:backdrop-blur-xs open:flex md:left-[33vw] md:w-[33vw] md:p-4 dark:bg-neutral-800 dark:text-white"
>
    <div class="flex w-full flex-row items-center justify-end">
        <button id="cartCloseButton" class="cursor-pointer">
            <img
                src="/icons/x.svg"
                width="20"
                height="20"
                class="select-none dark:invert"
            />
        </button>
    </div>
    <div class="flex w-full flex-col items-start justify-start space-y-3">
        <h3
            class="font-display mb-2 px-2 text-xl font-black md:px-3 md:text-2xl"
        >
            Cart
        </h3>
        <ul
            class="flex h-[60vh] w-full flex-col items-start justify-start space-y-4 overflow-y-scroll overscroll-contain px-2 *:w-full md:h-100 md:px-4"
            id="cartItemsList"
        ></ul>
        <hr class="w-full border-dashed border-neutral-500" />
        <div class="flex w-full flex-row items-center justify-between">
            <span class="text-lg font-bold">Total:</span>
            <span id="cartTotal" class="text-lg font-bold">0.00$</span>
        </div>
        <div class="flex w-full flex-row items-center justify-end space-x-2">
            <button
                class="flex h-8 cursor-pointer flex-row items-center space-x-2 rounded-4xl bg-gray-500 px-3 py-2 text-white ring-gray-500 ring-offset-1 hover:bg-gray-600 active:ring-1"
                id="clearCartButton"
            >
                <span class="text-sm font-bold">Clear Cart</span>
            </button>
            <a
                class="flex h-8 cursor-pointer flex-row items-center space-x-2 rounded-4xl bg-orange-600 px-3 py-2 text-white ring-orange-600 ring-offset-1 select-none hover:bg-orange-700 active:ring-1 aria-disabled:pointer-events-none aria-disabled:brightness-75 aria-disabled:dark:brightness-50"
                id="checkoutButton"
                href="/checkout/"
            >
                <span class="text-sm font-bold">Go to Checkout</span>
            </a>
        </div>
    </div>
</dialog>
