<link href="/styles.css" rel="stylesheet" />
<li class="flex w-full flex-row items-center justify-between">
    <div class="flex flex-row items-start space-x-2">
        <span
            class="rounded-full bg-orange-600 px-2 text-sm text-white md:text-lg"
            id="codiPercent"
        >
            50%
        </span>
        <span class="text-sm md:text-lg" id="codiName">
            50% off on your first order
        </span>
    </div>
    <span class="text-sm md:text-lg" id="codiAmount"> - 10.00$ </span>
</li>
