<link href="../../styles.css" rel="stylesheet" />
<li
    class="flex flex-col items-center justify-start rounded-2xl bg-neutral-100 shadow-md transition-all duration-200 hover:-translate-y-1 hover:shadow-2xl hover:shadow-orange-400/30 md:w-[calc(100vw/7)] dark:bg-neutral-800"
    id="ccard"
>
    <a
        href="/catalog"
        class="flex h-full w-full flex-col items-center justify-start rounded-2xl"
        title="Explore fast food options"
        id="ccardLink"
    >
        <div
            class="flex w-full flex-col items-center justify-center rounded-t-2xl bg-orange-400 p-3 md:md:h-[calc(100vw/7)]"
            id="ccardIconContainer"
        >
            <img
                src="./icons/hamburger.svg"
                width="96"
                height="96"
                class="invert select-none"
                id="ccardIcon"
            />
        </div>
        <div class="flex w-full flex-col px-4 py-3">
            <div class="flex w-full flex-row justify-between">
                <span class="text-lg font-bold md:text-xl" id="ccardTitle"
                    >Fast Food</span
                >
                <img
                    src="./icons/chevron-right.svg"
                    width="16"
                    height="16"
                    class="select-none dark:invert"
                />
            </div>
            <p class="text-sm md:text-base" id="ccardDescription">
                Burgers, fries, and more, delivered fast and hot.
            </p>
        </div>
    </a>
</li>
