<link href="/styles.css" rel="stylesheet" />
<li class="w-full" id="core">
    <details class="group w-full">
        <summary
            class="flex w-full cursor-pointer flex-row items-center justify-between rounded-full bg-neutral-100 px-4 py-1 shadow-md transition-all duration-200 select-none md:px-6 md:py-2 dark:bg-neutral-800"
        >
            <span class="text-lg font-bold md:text-2xl" id="restaurantName">
                McDonald's
            </span>
            <div class="flex flex-row items-center justify-end space-x-2">
                <span class="text-base font-bold md:text-xl" id="itemTotal">
                    2.99$
                </span>
                <img
                    src="/icons/chevron-down.svg"
                    width="24"
                    height="24"
                    class="transition-transform duration-200 select-none group-open:rotate-180 dark:invert"
                />
            </div>
        </summary>
        <ul
            class="mx-4 flex flex-col items-start justify-start space-y-2 border-s border-dashed border-neutral-500 px-3 py-2 *:w-full md:mx-6 md:px-4 md:py-4"
            id="checkoutItemsList"
        ></ul>
    </details>
</li>
