<link href="/styles.css" rel="stylesheet" />
<footer
    class="mx-[2.5vw] mb-[2.5vw] flex w-[95vw] flex-col items-center justify-center rounded-xl bg-zinc-200 py-8 transition-colors duration-200 dark:bg-neutral-800"
>
    <ul
        class="flex w-full flex-row items-center justify-center space-x-4 p-4 text-xl"
    >
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about/">About</a>
        </li>
        <li>
            <a href="/catalog/">Catalog</a>
        </li>
    </ul>
    <img
        src="/logo_vertical_mono.svg"
        class="mt-12 mb-6 w-40 select-none dark:invert"
    />
    <span class="text-sm">
        FoodRocket ltd. &copy; 2025. All rights reserved.
    </span>
</footer>
