<link href="../../styles.css" rel="stylesheet" />
<a
    class="dark:shadow-white-/10 flex flex-col rounded-xl bg-neutral-100 shadow-md transition-all duration-200 hover:-translate-y-1 hover:shadow-2xl dark:bg-neutral-800 dark:hover:shadow-white/30"
    href="/catalog"
    id="rcard"
>
    <img
        src="%VITE_IMAGE_PATH%mcdonalds-logo.webp"
        class="h-28 w-full rounded-t-xl object-cover md:h-40"
        id="rcardImage"
    />
    <div class="flex h-32 flex-col items-start justify-between p-4">
        <div class="flex w-full flex-col items-start justify-start">
            <h3 class="text-base font-bold md:text-2xl" id="rcardTitle">
                McDonald's
            </h3>
            <p
                class="line-clamp-2 text-xs md:line-clamp-1 md:text-sm"
                id="rcardDescription"
            >
                Classic American fast food chain
            </p>
        </div>
        <div class="flex w-full flex-col items-center justify-end">
            <hr class="my-2 w-full border-dashed border-neutral-400" />
            <div class="flex w-full flex-row items-center justify-between">
                <div
                    class="flex flex-row items-center justify-start space-x-1 rounded-3xl bg-orange-600 px-1.5 py-0.5 md:py-0"
                >
                    <img
                        src="./icons/package.svg"
                        width="16"
                        height="16"
                        class="invert select-none"
                    />
                    <span
                        class="text-xs text-white select-none md:text-sm"
                        id="rcardDeliveryPrice"
                    >
                        0.00$
                    </span>
                </div>
                <div class="flex flex-row items-center justify-start space-x-1">
                    <span
                        class="text-xs md:text-sm dark:text-white"
                        id="rcardRating"
                    >
                        8.5
                    </span>
                    <img
                        src="./icons/star.svg"
                        width="16"
                        height="16"
                        class="select-none dark:invert"
                    />
                </div>
            </div>
        </div>
    </div>
</a>
